---
// No props needed for this simple embed
---

<div>
  <script src="https://js.hsforms.net/forms/embed/6331078.js"></script>
  <div
    class="hs-form-frame"
    data-region="na1"
    data-form-id="202782da-2994-4f1f-bea6-e947276e83fc"
    data-portal-id="6331078"
  ></div>
</div>
